.container {
  min-height: calc(100vh - var(--navbar-height));
  display: flex;
  text-align: center;
  gap: 8rem;
  padding: 4rem;
  flex-direction: column;
}

.heading,
.paragraph {
  color: var(--color-black);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.heading {
  font-weight: 600;
  letter-spacing: -0.066rem;
  font-size: 3.7rem;
  margin-bottom: 2rem;
}

.paragraph {
  font-size: 2rem;
}

.detail {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  img {
    width: 40%;
    height: 30%;
  }

  p {
    width: 50%;
    font-size: 20px;
  }
}

.flip {
  flex-direction: row-reverse;
}

.hidden {
  opacity: 0;
}

@media only screen and (max-width: 18.75em) {
  .container {
    padding: 4rem 2rem;
  }
}
