.header {
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", serif;
  text-align: center;
}

.founders-container {
  display: flex;
  justify-content: space-around;
  gap: 9rem;
  padding: 0 9rem;
}

.founders-frame {
  width: 100%;
  max-width: 100%;
}

.founders-picture-container {
  width: 100%;
  max-width: 100%;
  transition: all 0.5s;
  overflow: hidden;
  user-select: none;

  &:hover {
    transform: scale(93%);
  }
}

.founders-picture {
  width: 100%;
  max-width: 100%;
  transition: all 0.5s;
  user-select: none;
  animation: zoomIn var(--general-animation-time);

  &:hover {
    transform: scale(130%);
  }
}

.founders-position,
.founders-name {
  font-family: "DM Serif Display", serif;
  color: var(--color-smoky-black);
}

.founders-position {
  font-size: 2rem;
  margin-top: 1rem;
  animation-fill-mode: backwards;
  animation: moveInBottom var(--general-animation-time) ease-out;
}

.founders-name {
  font-size: 3rem;
  animation-fill-mode: backwards;
  animation: moveInBottom var(--general-animation-time) ease-out;
}

.founders-desc {
  font-family: "DM Sans", serif;
  font-size: 1.5rem;
  letter-spacing: -1%;
  line-height: 1.6;
  animation-fill-mode: backwards;
  animation: moveInBottom var(--general-animation-time) ease-out;
}

.second-founder {
  margin-top: 8rem;
}

.team {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  column-gap: 6%;
  row-gap: 3%;
  padding: 0 6%;
  margin-top: 15rem;
}

.members-picture-container {
  overflow: hidden;
  transition: all 0.5s;
  user-select: none;

  &:hover {
    transform: scale(93%);
  }
}

.members-picture {
  width: 100%;
  transition: all 0.5s;
  user-select: none;
  animation: zoomIn var(--general-animation-time);

  &:hover {
    transform: scale(130%);
  }
}

.members-position,
.members-name {
  font-family: "DM Serif Display", serif;
  color: var(--color-smoky-black);
  letter-spacing: 0.3px;
  font-size: 1.6rem;
  animation-fill-mode: backwards;
  animation: moveInBottom var(--general-animation-time) ease-out;
}

.members-name {
  font-size: 2.4rem;
  letter-spacing: 0.5px;
}

@media only screen and (max-width: 50em) {
  .heading::after {
    width: 60%;
  }

  .team {
    grid-template-columns: repeat(2, 1fr);
  }

  .founders-container {
    display: flex;
    flex-direction: column;
    padding-right: 4rem;
    padding-left: 4rem;
  }

  .founders-position {
    font-size: 2.5rem;
  }

  .founders-name {
    font-size: 3rem;
  }

  .founders-desc {
    font-size: 1.8rem;
  }

  .members-position {
    font-size: 2.2rem;
  }

  .members-name {
    font-size: 3rem;
  }

  .founders-picture,
  .founders-picture-container,
  .members-picture,
  .members-picture-container {
    &:hover {
      transform: scale(100%);
    }
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-container {
    padding: 15vh 0;
  }

  .team {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: 15rem 1rem;
  }
}

@media only screen and (max-width: 36em) {
  .header {
    font-size: 7rem;
  }
}

@media only screen and (max-width: 24em) {
  .header {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 18.75em) {
  .heading-container {
    padding: 10vh 0;
  }
}
