.header {
  overflow: hidden;
  width: 100vw;
  background-color: var(--color-green);
}

.container {
  height: calc(100vh - var(--navbar-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 10000;
  overflow: hidden;
}

.heading,
.subheading {
  font-family: "Montserrat", sans-serif;
  color: var(--color-white);
  text-align: center;
  z-index: 10000;
}

.heading {
  font-size: 8rem;
  font-weight: 800;
  text-align: center;
}

.subheading {
  font-size: 3.5rem;
  font-weight: 400;
}

.background {
  position: absolute;
  height: calc(100vh - var(--navbar-height));
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  overflow: hidden;
}

.background-image {
  height: 100%;
  overflow: hidden;
  position: absolute;
}

@media only screen and (max-width: 31.25em) {
  .heading {
    font-size: 6rem;
    text-wrap: wrap;
  }

  .subheading {
    font-size: 3rem;
    text-wrap: wrap;
  }
}

@media only screen and (max-width: 22.25em) {
  .heading {
    font-size: 4rem;
    text-wrap: wrap;
  }

  .subheading {
    font-size: 2rem;
    text-wrap: wrap;
  }
}
