.container {
  background-color: var(--color-pink);
  border-top: 1px solid black;
  padding: 2rem 0;
  display: none;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  gap: 2rem;
}

.link {
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: inherit;
  user-select: none;
  color: var(--color-green);
}

@media only screen and (max-width: 50em) {
  .container {
    display: flex;
    justify-content: center;
  }
}
